<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="33"
    android:versionName="1.9.2-SNAPSHOT" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".StolpersteinApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >

        <activity
            android:name="de.vrlfr.stolpersteine.activity.main.MainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.vrlfr.stolpersteine.activity.stolperstein.StolpersteinActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.vrlfr.stolpersteine.activity.main.MainActivity" />
        </activity>
        <activity
            android:name="de.vrlfr.stolpersteine.activity.stolperstein.FullscreenImageActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.vrlfr.stolpersteine.activity.stolperstein.StolpersteinActivity" />
        </activity>
        <activity
            android:name="de.vrlfr.stolpersteine.activity.stolperstein.FullscreenTxtActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.vrlfr.stolpersteine.activity.stolperstein.StolpersteinActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>